body{
    background-color: olivedrab;
    margin: 0px;
}

.navbar {
    background-color: whitesmoke;
    padding: 15px;
    text-align: right;
}

.nav-link{
    background-color: olivedrab;
    color: whitesmoke;
    padding: .5em;
    border-radius: 10px;
}
.form{
    background-color: whitesmoke;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 350px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}

#icon-tray{
    padding: 2px;
    text-align: center;
}

.icon{
    margin: 5px;
}

#subbutton{
    width: 177px;
}